version: "3.9"

services:
  backend:
    build: ./backend
    restart: always
    volumes:
      - ./backend/db.sqlite3:/app/db.sqlite3
    expose:
      - "8000"

  frontend:
    build: ./frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
